Flask
Flask-Login
Flask-Migrate
Flask-Mail
Flask-SQLAlchemy
flask_wtf
python-dotenv
psycopg2-binary
Werkzeug
requests # Para comunicação com o Ollama
pdfplumber # Para extração de texto de PDF digital
Pillow # Dependência do pytesseract
pytesseract # Para OCR (texto em imagens/escaneados)